%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, true}.

{sub_dirs, [
            "rel"
           ]}.
 
{erl_opts, [debug_info]}. %, fail_on_warning]}.
 
{require_otp_vsn, ".*"}.
 
{deps_dir, ["deps"]}.
 
{deps,
  [
    {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
    {ranch, ".*", {git, "https://github.com/extend/ranch.git", {branch, "master"}}},
    {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8"}}}
  ]
}.
